@import 'bourbon/bourbon';

.animation-slide-in {
  @include animation(slide-in 0.25s $ease-out-sine);
  @include animation-fill-mode(both);
}

@mixin slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in { @include slide-in; }
   @-moz-keyframes slide-in { @include slide-in; }
        @keyframes slide-in { @include slide-in; }

.tilefill {
  bottom: 0;
  @include box-sizing(border-box);
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  @include transition;
  width: 100%;

  .tile {
    background: #eee;
    border: 1px solid #ccc;
    @include box-sizing(border-box);
    display: block;
    float: left;

    @extend .animation-slide-in;

    $t: 0.05s;
    $delay: $t;
    @for $child from 1 through 15 {
      &:nth-child(#{$child}) {
        @include animation-delay($delay);
      }
      $delay: $delay + $t;
    }
  }
}
